## Label Encoding

converting the labels into numeric form

## Importing the libraries

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

### Label Encoding of Breast Cancer Dataset

In [4]:
# loading the data from csv file to pandas dataframe
cancer_data = pd.read_csv("E:\ML_Series\ML\Day3_Label_Encoding\Data_Sets\data.csv")

In [5]:
# first 5 rows of the dataframe
cancer_data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [7]:
# finding the count of different diagnosis label
cancer_data['diagnosis'].value_counts()

diagnosis
B    357
M    212
Name: count, dtype: int64

In [8]:
# load the label encoder function
label_encode = LabelEncoder()

In [11]:
labels = label_encode.fit_transform(cancer_data.diagnosis)

In [12]:
print(labels)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 0 1 1 1 1 1 1 1 1 0 1 0 0 0 0 0 1 1 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 1
 0 1 0 1 1 0 0 0 1 1 0 1 1 1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 0
 0 0 0 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1 0 1 1 0 1 1 0 0 1 0 0 1 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 1 1 1 0 1
 0 1 0 0 0 1 0 0 1 1 0 1 1 1 1 0 1 1 1 0 1 0 1 0 0 1 0 1 1 1 1 0 0 1 1 0 0
 0 1 0 0 0 0 0 1 1 0 0 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0
 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1
 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 1 0 0
 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 1 0 1 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 1 1 1 1 0]

In [13]:
# appending the laels to the dataframe
cancer_data['target'] = labels

In [14]:
cancer_data.head()

         id diagnosis  ...  Unnamed: 32  target
0    842302         M  ...          NaN       1
1    842517         M  ...          NaN       1
2  84300903         M  ...          NaN       1
3  84348301         M  ...          NaN       1
4  84358402         M  ...          NaN       1

[5 rows x 34 columns]

0 represents Benign
1 represents Malignant

In [15]:
cancer_data['target'].value_counts()

target
0    357
1    212
Name: count, dtype: int64

## Iris Dataset

In [16]:
# loading the iris dataset
iris_data = pd.read_csv('E:\ML_Series\ML\Day3_Label_Encoding\Data_Sets\iris_data.csv')

In [18]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [19]:
iris_data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [20]:
label_encode_iris = LabelEncoder()

In [27]:
iris_labels=label_encode_iris.fit_transform(iris_data['Species'])

In [28]:
iris_data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [29]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [30]:
iris_data['target'] = iris_labels

In [31]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species target
0   1            5.1           3.5  ...           0.2  Iris-setosa      0
1   2            4.9           3.0  ...           0.2  Iris-setosa      0
2   3            4.7           3.2  ...           0.2  Iris-setosa      0
3   4            4.6           3.1  ...           0.2  Iris-setosa      0
4   5            5.0           3.6  ...           0.2  Iris-setosa      0

[5 rows x 7 columns]

In [32]:
iris_data['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64